<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Reviews:</strong>
</p>
<ul class="reviews">
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
 </ul>

<%= link_to "Add Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary"  %>
<hr>
<%= link_to 'Back', restaurants_path, class: "btn btn-primary" %>
